@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

@layer base {
  h2 {
    @apply text-center uppercase font-light;
  }

  h3 {
    @apply text-center uppercase font-light;
  }

  h4 {
    @apply text-center uppercase font-light;
  }
}

@layer components {
  .link-bottom {
    @apply text-xs uppercase tracking-wider;
  }

  .back-video {
    @apply absolute -z-10;
  }

  .back-video-mobile {
    @apply absolute -z-10;
  }
}

#hero {
  background-image: url("./../lotusMaterial/images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

@media (max-width: 600px) {
  #hero {
    background-image: url("./../lotusMaterial/images/hero-mobile.jpg");
    background-size: auto;
  }
}

.my-text-shadow {
  text-shadow: 2px 2px 1rem #000;
}

/* 

// FIXME Added Animation but isnt used 

@keyframes translateX {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}

.animate-translateX {
  animation: translate 1s;
}

@keyframes translate-X {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animte-translate-X {
  animation: translate 1s;
} */
