@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

@layer base {
  h2 {
    @apply text-center uppercase font-light sm:mb-24 mb-16 tracking-wide lg:text-5xl md:text-4xl text-3xl;
  }

  h3 {
    @apply text-center uppercase font-light leading-snug tracking-wider lg:text-xl sm:text-md text-base;
  }

  h4 {
    @apply text-center uppercase font-light;
  }
}

@layer components {
  .link-bottom {
    @apply text-xs uppercase tracking-wider;
  }

  .back-video {
    @apply absolute -z-10;
  }

  .back-video-mobile {
    @apply absolute -z-10;
  }

  .active {
    @apply block !important;
  }
}

#hero {
  background-image: url("./../lotusMaterial/images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

@media (max-width: 600px) {
  #hero {
    background-image: url("./../lotusMaterial/images/hero-mobile.jpg");
    background-size: auto;
  }
}

.my-text-shadow {
  text-shadow: 2px 2px 1rem #000;
}

/*
@keyframes translateInX {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-translateFromLeft {
  animation: translateInX 1s infinite;
}

@keyframes transFromRight {
  0% {
    transform: translateX(+50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-translate-X {
  animation: transFromRight 1s;
}
*/
